//Typography
.font-family-text {
    font-family: $font-family-text;
}

.font-button--responsive {
    font-size: $font-button--responsive;
}

// Colors
.text-pale--white {
    color: $text-pale--white;
}
